services:
  alpine-3.16-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.16
        JAVA_VERSION: 8
  alpine-3.16-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.16
        JAVA_VERSION: 11
  alpine-3.16-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.16
        JAVA_VERSION: 17
  alpine-3.17-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.17
        JAVA_VERSION: 8
  alpine-3.17-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.17
        JAVA_VERSION: 11
  alpine-3.17-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.17
        JAVA_VERSION: 17
  alpine-3.18-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.18
        JAVA_VERSION: 8
  alpine-3.18-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.18
        JAVA_VERSION: 11
  alpine-3.18-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.18
        JAVA_VERSION: 17
  alpine-3.19-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.19
        JAVA_VERSION: 8
  alpine-3.19-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.19
        JAVA_VERSION: 11
  alpine-3.19-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: alpine-test.Dockerfile
      args:
        IMAGE_VERSION: 3.19
        JAVA_VERSION: 17

  ubuntu-18.04-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 18.04
        JAVA_VERSION: 8
  ubuntu-18.04-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 18.04
        JAVA_VERSION: 11
  ubuntu-18.04-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 18.04
        JAVA_VERSION: 17
  ubuntu-20.04-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 20.04
        JAVA_VERSION: 8
  ubuntu-20.04-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 20.04
        JAVA_VERSION: 11
  ubuntu-20.04-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 20.04
        JAVA_VERSION: 17
  ubuntu-20.04-21:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 20.04
        JAVA_VERSION: 21
  ubuntu-22.04-8:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 22.04
        JAVA_VERSION: 8
  ubuntu-22.04-11:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 22.04
        JAVA_VERSION: 11
  ubuntu-22.04-17:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 22.04
        JAVA_VERSION: 17
  ubuntu-22.04-21:
    build:
      platforms:
        - linux/amd64
      context: .
      dockerfile: ubuntu-test.Dockerfile
      args:
        IMAGE_VERSION: 22.04
        JAVA_VERSION: 21
  pyroscope:
    image: 'grafana/pyroscope:1.17.0@sha256:f6e3caa6cade1dea53dd39db6117668e92cf9e43fbc097dda2096368b14f1cd1'
    ports:
      - 4040:4040


