---
version: "3.9"
services:
  pyroscope:
    image: "pyroscope/pyroscope:latest@sha256:dbca95a15bc1af46b25eb85f417934dcd78f2e0bbe2037aa52b92cb3b0d391ff"
    ports:
      - "4040:4040"
    command:
      - "server"
  app:
    build: .
    environment:
      - PYROSCOPE_APPLICATION_NAME=optaplanner
      - PYROSCOPE_PROFILING_INTERVAL=10ms
      - PYROSCOPE_PROFILER_EVENT=itimer
      - PYROSCOPE_UPLOAD_INTERVAL=1s
      - PYROSCOPE_LOG_LEVEL=debug
      - PYROSCOPE_SERVER_ADDRESS=http://pyroscope:4040
      - PYROSCOPE_AUTH_TOKEN=abc123
    ports:
      - "8080:8080"
