name: Integration smoke test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  integration-smoke-test:
    runs-on: ubuntu-x64
    strategy:
      fail-fast: false
      matrix:
        svc:
          - 'alpine-3.16-8'
          - 'alpine-3.16-11'
          - 'alpine-3.16-17'
          - 'alpine-3.17-8'
          - 'alpine-3.17-11'
          - 'alpine-3.17-17'
          - 'alpine-3.18-8'
          - 'alpine-3.18-11'
          - 'alpine-3.18-17'
          - 'alpine-3.18-21'
          - 'alpine-3.19-8'
          - 'alpine-3.19-11'
          - 'alpine-3.19-17'
          - 'alpine-3.19-21'
          - 'alpine-3.19-25'
          - 'ubuntu-18.04-8'
          - 'ubuntu-18.04-11'
          - 'ubuntu-18.04-17'
          - 'ubuntu-20.04-8'
          - 'ubuntu-20.04-11'
          - 'ubuntu-20.04-17'
          - 'ubuntu-20.04-21'
          - 'ubuntu-20.04-25'
          - 'ubuntu-22.04-8'
          - 'ubuntu-22.04-11'
          - 'ubuntu-22.04-17'
          - 'ubuntu-22.04-21'
          - 'ubuntu-22.04-25'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: 1.23.1
      - run: make itest
        shell: bash
        env:
          ITEST_SERVICE: ${{ matrix.svc }}
