name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.agent }}
    strategy:
      fail-fast: false
      matrix:
        agent: [ubuntu-x64-small, macos-latest]
        java: ['11', '17', '21']
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - run: ./gradlew test --stacktrace
  javadoc:
    runs-on: ubuntu-x64
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: 11
          distribution: 'temurin'
      - run: ./gradlew javaDoc --info
